[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "files/.vim/bundle/vim-wakatime"]
	path = files/.vim/bundle/vim-wakatime
	url = git://github.com/wakatime/vim-wakatime.git
[submodule "files/.vim/bundle/vim-fugitive"]
	path = files/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "files/.config/polybar/polybar-scripts"]
	path = files/.config/polybar/polybar-scripts
	url = https://github.com/davialexandre/polybar-scripts.git
[submodule "files/.vim/bundle/gruvbox"]
	path = files/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "files/.vim/bundle/vim-rhubarb"]
	path = files/.vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "files/.vim/bundle/indentLine"]
	path = files/.vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "files/.vim/bundle/codi.vim"]
	path = files/.vim/bundle/codi.vim
	url = https://github.com/metakirby5/codi.vim.git
[submodule "files/.oh-my-zsh/custom/themes/spaceship-prompt"]
	path = files/.oh-my-zsh/custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "files/.oh-my-zsh/custom/plugins/codestats"]
	path = files/.oh-my-zsh/custom/plugins/codestats
	url = https://gitlab.com/code-stats/code-stats-zsh.git
