[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "files/.vim/bundle/vim-wakatime"]
	path = files/.vim/bundle/vim-wakatime
	url = git://github.com/wakatime/vim-wakatime.git
[submodule "files/.vim/bundle/vim-fugitive"]
	path = files/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
