alias d="cd ~/Downloads"
alias p="cd /projetos"
alias eza="eza --header --long --all --git --group --hyperlink"
alias exa="eza"
alias sfcc="php bin/console cache:clear"
alias sfsu="php bin/console doctrine:schema:update --force"
alias sre="php bin/console make:entity --regenerate"
alias i="sudo apt install"
alias sp="apt search"
alias upp="sudo apt -y update && sudo apt -y dist-upgrade"
alias ggpush!='git push origin $(git_current_branch) --force'
alias download-station="synology-app download"
alias file-station="synology-app file"
alias note-station="synology-app note"
alias video-station="synology-app video"
alias ni="npm i"
alias nid="npm i --save-dev"
alias nr="npm run"
alias aw="aws-vault --prompt=ykman"
alias sf="symfony"
alias sfr="symfony run"
alias sfc="symfony console"
alias sfcl="symfony console list"
alias sfcr="symfony composer req"
alias sfcrd="symfony composer req --dev"
alias sflo="symfony server:log"
alias sfo="symfony open:local"
alias sfsr="symfony server:stop && symfony server:start -d"
alias ips="ip -br -c addr show"
alias interfaces="ip -br -c link show"
