[user]
	name = Davi Alexandre
	email = davi@davialexandre.com.br
    signingkey = F8A9C056 
[core]
	excludesfile = /Users/davi/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[status]
    submodulesummary = 1
[diff]
    submodule = log
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[alias]
    cis = commit -S
